body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}
header,footer{
    background-color:burlywood
}
.site-title{
    color:lightseagreen
}
#my-image{
    box-shadow: 0 0 2px 1px black;
    height: 30vh;

}
/* Replace the bullets from the list of hobbies with squares */
ul li{
    list-style-type: square;
}

li:nth-child(odd){
    background-color: yellowgreen;
}

nav li{
    /* Remove the bullets from the unordered list in navigation */
    list-style-type:none;
  
}
nav  li a {
      /* Remove the underline from the links */
      text-decoration: none;
      /* Add a background and border to the links */
      background-color: cadetblue;
      border:1px solid blue;
}
/* Change the background colour on hover or focus state of the links */
a:hover{
   background-color: chocolate;
}