*,
*:after,
*:before {
    box-sizing: border-box;
}


html {
    font-size: 15px;
    font-family: 'Cormorant SC', serif;
}

main>section:not(:nth-child(3)),
footer {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    background-color: black;
    padding: 1rem;

}

ul>li:nth-child(1),
li:nth-child(2) {
    background-color: #c78c06;
}

ul>li:not(:nth-child(1)) {
    text-align: center;
    padding: .5rem 0;
}

ul>li:nth-child(2)>a {
    color: black;
}

ul>li:not(:nth-child(2))>a {
    color: #c78c06;
}

ul .search {
    color: #c78c06;
}

ul input {
    display: inline-block;
    width: calc(100% - 3rem);
    height: 2.2rem;
}

ul li i {
    border: .1rem solid #c78c06;
    padding: .5rem;
    font-size: 1rem;
}

.welcome {
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
    background-position: 70% 50%;
    height: 30rem;
    padding: 3rem 0;
}

.banner {
    background-color: black;
    opacity: 70%;
    height: 100%;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner h1 {
    font-size: 2rem;
}

.banner a,
main a {
    flex-basis: 3rem;
    padding: 1rem;
    color: aliceblue;
    width: 12rem;
    text-align: center;
    margin: .5rem .2rem;
}

.banner a {
    background-color: #c78c06;
}

main a {
    background-color: black;
}

.web a {
    width: 15rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

main .about_us,
section+.services>div,
section article {
    background-color: #ffe6ac;
}

article {
    padding: 1rem;
}

main img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

p {
    font-size: 1rem;
    padding: .2rem;
    line-height: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: .3rem;
}

main>section {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: .3rem;
}

.services div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vision {
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: center;
    color: aliceblue;
}

.vision>div {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.vision>div>a {
    border: solid .1rem #c78c06;
}

hr {
    height: 1px;
    background-color: #c78c06;
    border: none;
}

.team {
    row-gap: 0;
}

.contact,
form {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}

#message {
    height: 3rem;
}

button {
    margin: .5rem;
    width: 5rem;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 20rem;
}

footer p {
    max-width: 20rem;
    margin-left: auto;
}

@media screen and (min-width:760px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    li:nth-child(2) {
        width: 5rem;
    }

    .about_us {
        flex-flow: row nowrap;
        padding: 1rem;
        column-gap: .2rem;
    }

    .about_us img {
        max-width: 50%;
    }

    .services {
        display: grid;
        row-gap: .2rem;
        column-gap: .2rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "p1 p1 p1 p1 p1 p1"
            "p2 p2 p2 p3 p3 p3"
            "p4 p4 p5 p5 p6 p6"
    }

    .services img {
        max-width: 100%;
    }

    .services h2 {
        grid-area: p1
    }

    .services>div:nth-child(2) {
        grid-area: p2
    }

    .services>div:nth-child(3) {
        grid-area: p3
    }

    .services>div:nth-child(4) {
        grid-area: p4
    }

    .services>div:nth-child(5) {
        grid-area: p5
    }

    .services>div:nth-child(6) {
        grid-area: p6
    }

    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "t1 t1"
            "t2 t3"
            "t4 t5"
    }

    .team img {
        max-width: 100%;
    }

    .team h2 {
        grid-area: t1
    }

    .team img:nth-child(1) {
        grid-area: t2
    }

    .team img:nth-child(2) {
        grid-area: t4
    }

    .team article:nth-child(1) {
        grid-area: t3
    }

    .team article:nth-child(2) {
        grid-area: t5
    }

    .contact {
        width: 100%;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "c1 c1"
            "c2 c3"
            "c4 c4"
    }

    .contact h2 {
        grid-area: c1
    }

    .contact form {
        grid-area: c2
    }

    .location {
        grid-area: c3
    }

    .contact .operation {
        grid-area: c4
    }
}